<div class="sign_up-container">

  <form [formGroup]="customForm" class="sign_up-form">
    <div class="form-title">Sign Up</div>
    <div class="form-subtitle">Please fill all fields!</div>
    <div class="sign-form" *ngFor="let item of formData; let i=index;"
         [ngClass]="{'invalid': customForm.get(item.key)?.invalid && (customForm.get(item.key)?.dirty || customForm.get(item.key)?.touched)}">
      <label>{{item.title}}</label>
      <input class="sign-input"
             [type]="item.type"
             [formControlName]="item.key"
             [placeholder]="item.title"
      />
      <div
        *ngIf="customForm.get(item.key)?.invalid && (customForm.get(item.key)?.dirty || customForm.get(item.key)?.touched)"
        class="errors">
        <div class="error" *ngFor="let err of formData[i].validators">
          <div *ngIf="customForm.get(item.key)?.errors?.[err.type]">
            {{err.message}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-buttons">
      <button class="button button-primary" [ngClass]="customForm.invalid?'inactive':'active'" (click)="signUp()">Sign Up</button>
    </div>

  </form>

</div>
