@import "src/assets/styles/global";

.container {
  background: $bg1;
  width: 100%;
  height: 100vh;
}

.content {
  background: $bg2;
  padding: 1.5rem;
  border-radius: 10px;
  width: calc(100% - 3rem);
  max-height: calc(100vh - 160px - 3rem);
  height: 100vh;
  overflow: scroll;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  position: absolute;
  margin-top: 104px;

}
